*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
}
h1{font-size: 2.2em;}
h2{font-size: 1.8em; color: rgb(9, 9, 71);}
h3{font-size: 1.5em;}
h4{font-size: 1.2em;}
h5{font-size: .9em;}
p{font-size: .9em;}
li{font-size: .9em;}
span{font-size: 2em;}
a{font-size: 1.2em;}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
header nav{
    display: none;
}
#hero{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/espuma/8.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 85vh; 
}
#hero .logo{
    background-image: 
    url(assets/espuma/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;margin-left: auto;
    width: 100px;
    height: 80px;
    position: relative;
    top: -110px;
}
#hero h1{
    text-align: left;
    position: relative;
    top: -45px;
}
#hero p{
    font-style: italic; 
    text-align: left;
    position: relative;
    top: -25px;
}
#hero .button{
    padding: 15px 30px;
    background-color: rgb(180, 48, 65);
    border-radius: 5px;
    border: 1px solid#010203;
    box-shadow: 5px 5px 5px 5px #010203;
    position: relative;
    left: -45px;
    top: -45px;
}
#hero a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#importancia p{
    text-align: justify;    
}
#importancia .box-inside .img1{
    background-image: url(assets/espuma/6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: auto;margin-left: auto;
}
#importancia h5{
    color: rgb(9, 9, 71);
    font-size: 1.4em;
    text-align: center;
    position: relative;
    top: -5px;  
}
#importancia li{
    text-align: left;
    list-style: none;
    margin-left: -15px;
    font-size: .9em;
}
#importancia .box-inside .img2{
    width: 280px;
    height: 280px;
    background-image: url(assets/espuma/11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: auto;margin-left: auto;
}
#importancia .box-inside .img3{
    width: 280px;
    height: 280px;
    background-image: url(assets/espuma/13.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;margin-right: auto;
}
#importancia .box-body li{
    text-align: justify;
}
#componentes .box-inside{
    background-color: rgb(180, 48, 65);
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #000100;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #010203;
    text-align: justify;
}
#componentes .box-inside p{
    margin-top: -15px;
    font-size: 1.1em;
    font-weight: 100;
}
#componentes .box-inside b{
    font-weight: bold;
}
#componentes .box-body{
    padding-bottom: 25px;
}
#componentes a{
    background-color: rgb(8, 8, 63);
    text-decoration: none;
    color: #f0f0f0;
    padding: 25px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px #010203;
}
#componentes a:hover{
    background-color: rgb(180, 48, 65);
}
#efectividad{
    background-color: rgb(180, 48, 65);
    color: #f0f0f0;
}
#efectividad h2{
    color: #f0f0f0;
}
#efectividad p{
    text-align: justify;
}
#efectividad .box-inside{
    background-color: #f0f0f0;
    color: #010203;
    padding: 25px;
    margin-bottom: 35px;
    border-radius: 15px;
    border: 1px solid #010203;
    box-shadow: inset 10px 0px 20px 5px #000100;
    text-align: left;
}
#efectividad h3{
    text-align: center;
}
#efectividad li{
    color: rgb(180, 48, 65);
    margin-bottom: 5px;
}
#importancia1{
    background-color: rgb(8, 8, 63);
    color: white;
}
#importancia1 h2{
    color: #fff;
}
#importancia1 p{
    text-align: left;
    margin-bottom: 15px;
}
#importancia1 .box-inside li{
    text-align: left;
    margin-left: -25px;
    margin-bottom: 25px;
}
#contactanos{
    background-color: rgb(9, 9, 71);
    color: #f0f0f0;
}
#contactanos h2{
    color: #f0f0f0;
    font-size: 2.2em;
}
#contactanos p{
    text-align: justify;
}
#contactanos .box-inside{
    display: flex;
    flex-direction: row;
}
#contactanos .li-1{
    font-weight: bold;
    font-size: 1.2em;
    list-style: none;
    text-align: left;
    margin-bottom: 15px;
}
#contactanos li{
    list-style: none;
    text-align: left;
    margin-left: -25px;
}
#contactanos span{
    margin-top: 25px;
    color: rgb(180, 48, 65);
    font-weight: 400;
    font-size: 1.7em;
}
#form{
    padding: 25px;
    background-color: rgb(9, 9, 71);
    height: 65vh;
}
#form input{
    width: 325px;
    margin-bottom: 5px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
    height: 35px;
    text-align-last: left;
    margin-left: auto;margin-right: auto;
}
#form  .button1{
    height: 185px;
    margin-bottom: -25px;
}
#form .button{
    padding: 15px 25px;
    color: #f0f0f0;
    position: relative;
    top: 50px;
    border-radius: 15px;   
    width: 250px; 
    box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}
#form a{
    width: 300px;
    background-color: rgb(180, 48, 65);
}
footer{
    height: 75vh;
    padding: 25px;
    background-color: rgb(9, 9, 71);
}
footer a{
    color: rgb(180, 48, 65);
    text-decoration: none;
    font-size: 1.3em;
}
footer h5{
    color: white;
}
footer li{
    color: #f0f0f0;
}
footer ul{
    margin-top: -5px;
}
footer .box-icon{
    display: flex;
    flex-direction: row;
}
footer .insta{
    width: 60px;
    height: 60px;
    background-image: url(assets/espuma/instagram.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
footer .link{
    width: 60px;
    height: 60px;
    background-image: url(assets/espuma/inkedin.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 25px;
}