*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
}
h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.2em;}
h4{font-size: 1em;}
p{font-size: .9em;}
li{font-size: .9em;}
b{font-size: 1.2em;}
section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
nav{
    display: none;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.button{
    padding: 20px 30px;
    background-color:  rgb(180, 48, 65);
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
}   
#hero{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0.0.0..5)
    ) 
    ,url(assets/mantenimiento/1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}