*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;

}
h1{font-size: 2.5em;}
h2{font-size: 1.9em;}
h3{font-size: 1.8em;}
h4{font-size: 1.4em;}
p{font-size: 1.1em;}
a{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 25px;
}
nav{
    display: none;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/index/17.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 85vh;
    padding: 15px;
}
#hero .box-link{
    display: flex;
    flex-direction: row;
    padding: 12px 30px;
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px black;
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    width: 250px;
}
#hero span{
position: relative;
left: -25px;
}
#hero p{
    width: 250px;
    font-style: italic;
}
#nuestro{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    color: white;
    background-color: rgb(8, 8, 48);
}
#nuestro h2{
    color:  rgb(180, 48, 65);
    margin-bottom:-15px;
}
#nuestro h3{
margin-top: 15px;
}
#nuestro .box-icon{
    display: flex;
    flex-direction: row;
}
#nuestro span{
    margin-top: 15px;
    margin-left: -2px;
    font-size: 2em;
    color:rgb(180, 48, 65) ;
    font-weight: bold;
}
#nuestro p{
    margin-left: 20px;
    font-weight: bold;
}
#nuestro .button{
    padding: 10px 25px;
    background-color: rgba(180, 48, 65, .9);
    color: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, .1);
    text-align: center;
    margin-left: auto;margin-right: auto;
}
#nuestro .box-button{
    text-align: center;
    margin-top: 25px;
}
#numeros{
    padding: 25px;
}
#numeros .box-inside{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: auto;margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
#numeros h2{
    font-size: 3.2em;
}
#numeros h3{
    font-size: 1.9em;
    margin-top: -22px;
}
#numeros .box-inside:first-child{
    background-color: rgb(180, 48, 65);
    color: white;
}
#numeros .box-inside:nth-child(2){
    background-color: rgb(15, 15, 88);
    color: white;
}
#numeros .box-inside:nth-child(3){
    background-color: white;
    color: black;
}
#numeros .box-inside:nth-child(4){
    background-color: orange;
    color: white;
}
#images{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    height: 80vh;
}
#images .box-inside{
        display: flex;
        flex-direction: column;
}
#images h4{
    color:  rgba(180, 48, 65, .9);
    font-size: 1.8em;
    text-align: center;
}
#images .b1{
    font-size: 2.5em;
}
#images .healey{
    width: 300px;
    height: 270px;
    background-image:url(assets/index/3.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
#images .fire-defense{
    width: 300px;
    height: 280px;
    background-image: url(assets/index/4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -280px;
}
#nues{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
#nues img{
    border-radius: 50%;
    margin-bottom: 25px;
    margin-left: auto;margin-right: auto;
    text-align: center;
}
#nues a{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
#hero2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#hero2 .box-image{
    width: 300px;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;margin-right: auto;
    display: flex;
    flex-direction: row;
    transition: lllllllllllllllo,llllllllllllllllllllk;
}
#hero2 .box1{
    width: 100px;
    height: 500px;
    background-image: url(assets/index/16.webp);
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero2 .box2{
    width: 100px;
    height: 500px;
    background-image: url(assets/index/17.webp);
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero2 .box3{
    width: 100px;
    height: 500px;
    background-image: url(assets/index/18.webp);
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero2 h2{
    font-size: 1.5em;
}
#adquiere{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/index/18.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    cursor: pointer;
}
#adquiere h2:hover{
    color:  rgba(180, 48, 65, .9);
}
#empresas h2{
    color:  rgba(180, 48, 65, .9);
    font-size: 1.3em;
    width: 300px;
    margin-left: auto;margin-right: auto;
}
#empresas h3{
    position: relative;
    font-size: 1.5em;
    top: -25px;
    color: rgba(180, 48, 65, .9);
}
#empresas .box-inside{
    background-color: rgb(6, 6, 43);
    color: white;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
#empresas span{
    font-size: 2.8em;
    color:  rgba(180, 48, 65, .9);
    margin-top: 10px;
    margin-bottom: 25px;
}
#empresas h4{
    color: rgba(180, 48, 65, .9);
}
#empresas p{
    margin-top: -5px;
}
#cobertura .box-inside{
    padding: 10px 15px;
    background-color: rgb(7, 7, 55);
    margin-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}