*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em;}
h5{font-size: 1.1em;}
p{font-size: .9em;}
a{font-size: 1.2em; color: #fff; text-decoration: none;}
li{font-size: .9em; color:  rgb(201, 2, 28); font-weight: bold;}
b{font-size: 1.1em;}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    justify-content: center;
    text-align: center;
    padding: 0px 25px;
}
header nav{
    display: none;
}
#hero{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/supresion/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 85vh;
}
#hero .logo{
    background-image: url(assets/supresion/logo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 100px;
    margin-right: auto;margin-left: auto;
    margin-top: -180px;
}
#hero h1{
    text-align: left;
}
#hero p{
    text-align: justify;
    margin-top: 80px;
    margin-bottom: 50px;
}
#hero h1:hover{
    color: rgb(180, 48, 65);
}
#hero .button{
    padding: 17px 35px;
    background-color: rgb(180, 48, 65);
    margin-top: 15px;
    border-radius: 15px;
}
#hero .button:hover{
    background-color: rgb(96, 17, 27);
    color: aqua;
}
#sistema h2{
    color: rgb(21, 21, 76);
}
#sistema p{
    text-align: justify;
}
#sistema h3{
    color: rgb(21, 21, 76);
}
#sistema .box-icon{
    display: flex;
    flex-direction: row;
}
#sistema span{
    margin-top: 35px;
    color:  rgb(180, 48, 65); 
    text-align: left;
    margin-left: 15px;
}
#sistema h5{
    text-align: left;
    margin-left: 15px;
}
#sistema .box-icon{
    margin-top: -25px;
}
#funciones{
    background-color: rgb(32, 32, 72);
    color: #fff;
}
#funciones h2{
    width: 250px;
    text-align: center;
    margin-left: auto;margin-right: auto;
}
#funciones p{
    text-align: justify;
}
#funciones .box-icon{
    display: flex;
    flex-direction: row ;
}
#funciones .box-icon p{
    margin-left: 25px;
}
#funciones span{
    margin-top: 25px;
    margin-left: -5px;
}
#funciones b{
    font-size: 1.2em;
}
#funciones .button{
    padding: 10px 25px;
    background-color: rgb(180, 48, 65);
    border: 1px solid #010203;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #f0f0f0;
}
#funciones a{
    font-size: .9;
    width: 50px;
}
#funciones{
    padding: 45px 25px;
}
#funciones .box-button{
    margin-top: 40px;
}
#componentes{
    background-color: rgb(180, 48, 65);
    color: white;
}
#componentes .box-inside{
    background-color: #f0f0ff;
    color: #010203;
    padding: 25px;
    margin-bottom: 30px;
    border: 1px solid#010203;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #020302;
}
#componentes p{
    text-align: justify;
}
#componentes .box-icon{
    display: flex;
    flex-direction: row;
}
#componentes span{
    margin-top: 25px;
    margin-left: -5px;
}
#componentes .box-icon p{
    margin-left: 25px;
}
#componentes{
    padding: 35px 25px;
}
#componentes .button{
    background-color: rgb(21, 21, 76);
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}
#tipos{
    padding: 25px 25px;
    background-color: rgb(21, 21, 76);
    color: #f0f0f0;
}
#tipos p{
    text-align: justify;
}
#tipos .box-inside{
    background-color: #f0f0f0;
    color: #0f0f0f;
    padding: 15px;
    border: 1px solid #010101;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #000;
    margin-bottom: 25px;
}
#tipos .box-icon{
    display: flex;
    flex-direction: row;
}
#tipos span{
    margin-top: 25px;
    margin-left: -5px;
}
#tipos .box-icon p{
    margin-left: 20px;
}
#aplicaciones .box-head{
    background-color: rgb(180, 48, 65);
    padding: 15px 25px;
    border: 1px solid #010203;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #020304;
    color: white;
    margin-bottom: 50px;
}
#aplicaciones{
    padding: 25px;

}
#aplicaciones p{
    text-align: justify;
}
#aplicaciones .box-body{
    border: 1px solid rgb(180, 48, 65);
    padding: 15px;
    border-radius: 15px;
    padding: 25px 0px;
    margin-bottom: 25px;
}
#aplicaciones .box-inside{
    text-align: left;
}
#aplicaciones span{
    color: rgb(180, 48, 65);
    font-weight: 400;
    font-size: 2em;
    margin-left: 25px;
}
#aplicaiones .box-icon{
    display: flex;
    flex-direction: row;
}
#aplicaciones h3{
    margin-top: 5px;
}
#aplicaciones .box-body p{
    margin-top: -25px;
    margin-left: 30px;
}
#aplicaciones h3{
    margin-left: 30px;
}
#aplicaciones a{
    border: 1px solid rgb(0, 0, 0);
    color: #010203;
    padding: 15px 25px;
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
}
#