*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
    padding: 0;
}
.conatiner{
    max-width: 1800px;
    margin: auto;
}
header{
    width: 100%;
    height: 25%;
    margin: 0;
    padding: 0;
}
header .box-inside img{
    width: 15%;
}
header .box-inside .search{
    width: 3em;
    background-color: black;
    border-radius: 50%;
    padding: .5em;
}
header .box-inside:first-child{
    background-color: #e51837;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .box-inside:first-child p{
    font-size: 2em;
    font-weight: bold;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .box-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header button{
    height: 35px;
    width: 10em;
    border: 1px solid #e51837;
}

@media (min-width:500px){
    .conmtainer{
        min-width: 500px;
        margin: auto;
    }
    header .box-inside:first-child p{
        font-size: 2em;
        font-weight: 20;
        width: 45em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }   
    header .box-inside:first-child span{
        font-weight: bold;
    }
    header .box-button{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    header button{
        height: 35px;
        width: 10em;
        border: 1px solid #e51837;
    }
}